@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #9b59b6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
}
.header{
background-color: #f7f7f7;
padding: 20px 40px;
border-bottom: 1px solid #f0f0f0;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    display: block;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;

}

.icon{
    width: 14px;
    padding: 0px 1px 3px 3px;
}

.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.form button{

    background-color: #4d1961;
    color: #fff;
    border: 3px solid #4d1961;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.form-control.success input {
    background-color: #cbfcdf;
    border-color: #2ecc71;
}
.form-control.error input {
    background-color: #faddda;
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle img{
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle img{
    visibility: visible;

}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}